@page "/surfspots/{id}"
@inherits SurfSpotDetailComponent

<h1>Surf spot</h1>

@if (SurfSpot == null)
{
    <p>
        <em>Loading surf spot @Id...</em>
    </p>
}
else
{
    <h2>@SurfSpot.Name</h2>

    <div>
        <label>Name</label>
        <input type="text"
               ref="SpotNameInput"
               disabled="@(!IsEditable)"
               bind="@SurfSpot.Name"
               onclick=@EnableEdit
               onblur="@Save"/>
    </div>
}